/*!*************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \*************************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

#game-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#control-content {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    opacity: 0.8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150%;
    font-size: small;
}

#contacts {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#start-screen {
    background-color: transparent;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    opacity: 1;
    transition: opacity 2s;
    font-size: 22px;
    letter-spacing: 0.7px;
}

#clicktostart {
    position: absolute;
    top: calc(50% + 110px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0.5;
    transition: opacity 10s;
    animation: fadeInOut 4s;
    -webkit-animation: fadeInOut 2s ease-in-out infinite;
    -moz-animation: fadeInOut 2s ease-in-out infinite;
}

#clicktostart h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight: 200;
    letter-spacing: 0.7px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

#title.hidden,
#clicktostart.hidden,
#name.hidden {
    opacity: 0;
}

#clicktostart.no-animation {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
}

button {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: white;
    border-bottom-color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 6rem;
    height: 2rem;
    background-color: black;
    opacity: 1;
}

.radio-container {
    display: flex;
    justify-content: left;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
}

input[type=radio] {
    margin-right: 5px;
}

#name {
    position: absolute;
    bottom: calc(-3%);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0.7;
    transition: opacity 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name h4 {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight: 200;
    letter-spacing: 0.7px;
}

.title-contact {
    width: 220px;
    display: flex;
    justify-content: space-evenly;
}

audio {
    z-index: 1;
}

#muteButton {
    position: absolute;
    bottom: 3%;
    right: 0%;
    background: none;
    border: none;
    user-select: none;
    cursor: pointer;
    margin-right: 12px;
}

#unmuteButton {
    position: absolute;
    bottom: 3%;
    right: 0%;
    background: none;
    border: none;
    user-select: none;
    cursor: pointer;
    margin-right: 12px;
}

#unmuteButton.hidden {
    display: none;
}

#muteButton.hidden {
    display: none;
}

#toggleBtn {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    letter-spacing: 0.7px;
    width: 150px;
    height: auto;
    padding: 10px;
}

#reset-timer {
    font-size: 16px;
    margin-bottom: 20px;
}

.sliders {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.sliders input {
    margin-bottom: 5px;
}